<div id="body" ng-app="streamLocalFiles">
    <div ng-controller="FileController">
        <div id="files">
            <ul>
                <li ng-repeat="file in files">
                    <a ng-href="{{file.Path}}">{{file.Name}}</a>
                </li>
            </ul>
        </div>

        <div id="addFiles">
            <input type="file" id="input" multiple onchange="addFiles(this.files)">
        </div>
    </div>

</div>

<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/FileScripts/FileController.js"></script>