<div id="body" ng-app="streamLocalFiles">
    <div ng-controller="FileController">
        <div id="files">
            <ul>
                <li ng-repeat="file in files">
                    <a ng-href="{{file.Path}}">{{file.Name}}</a>
                </li>
            </ul>
        </div>
        <!--<button type="button" ngf-select ngf-change="addFiles($files)" ngf-multiple="multiple">Select Files to add</button>-->
        <input type="file" multiple onchange="angular.element(this).scope().addFiles(this.files)"/>
    </div>

</div>

<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/FileScripts/FileController.js"></script>
<script src="~/Scripts/angular-route.js"></script>