<div id="body" ng-app="streamLocalFiles">
    <div ng-controller="FileController">
        <input type="button" name="fileGetter" value="Get Me Some Files" ng-click="getFiles()" />
        <div id="files">
            <ul>
                <li ng-repeat="file in files">
                    <a ng-href="#{{file.Path}}" ng-click="startStreaming(file.Path)">{{file.Name}}</a>
                    <audio>
                        <source ng-src="{{file.Path}}" type="audio/mpeg" />
                    </audio>
                </li>
            </ul>
        </div>
    </div>

</div>

<script src="~/Scripts/angular-sanitize.js"></script>
<script src="~/Scripts/FileScripts/FileController.js"></script>